body{
 background-image: url("bg.jpg");
}


.header h1,h4{
color : White;
text-align : center;
padding : 5px;
}

.header{
width : auto; /* Using auto adjust the size, according to the page view*/

border-width : 3px;
padding : 5px;

}

.nav {
line-height: 30px;
background-color: ffffff;
height = 300px;
widht = 100px;
float = left;
padding = 5px;
}

.table{
width : auto;
background-color = red;
}

.section table{
width : 30px;
float : left;
padding : 10px;
}

.search p{
text-align = left;
}

#menu ul {
margin : 0px;
padding : 0px;
list-style-type: none;
}

#menu a {
display : block;
width : auto;
color : black;

text-decoration : none;
text-align:	center;
}

#menu a : hover{
background-color :  #00ff00;
}
#menu li{
float : left;
margin-right : 2.0em;
}


#sidebar{
float : right;
width : 100%;

}


.rect{
position:absolute;
  top:50%;
  left:50%;
  margin-top:-50px;  
  margin-left:-100px;
  background-color :  #00ff00;}
  
  .textbox {
  position:absolute;
  top:30%;
  left:30%;
  margin-top:-50px;  
  margin-left:-100px;
  background-color :  #00ff00;
  
  
  
  }
  
 .table{
 float : left;}
  
  
  
  
 form { width: 400px; }

label { float: left; width: 150px; }

input[type=text] { float: left; width: 250px; }

.form {
position : right;
}